<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirFinder</title>

    <link rel="stylesheet" href="static/css/about.css">
</head>
<body>
    <header class="header">
        <span class="title-text">
            <a href="{%url 'index'%}">AirFinder</a>
        </span>
        <div class="title-links">
            <a href="{%url 'index'%}">Home</a>
            <ion-icon name="home" class="home-icon"></ion-icon>
            <a href="{%url 'about'%}">About</a>
            <ion-icon name="information-circle" class="info-icon"></ion-icon>
            <a href="{%url 'contact'%}">Contact</a>
            <ion-icon name="mail-open" class="contact-icon"></ion-icon>
        </div>
        <div class="btn-box">
            {% if request.user.is_authenticated %}
                <button class="btn btn-1" id="search" onclick="openSearchPage()">Search</button>
            {% else %}
                <button class="btn btn-1" id="login" onclick="openLoginPage()">Sign In</button>
                <button class="btn btn-2" id="register" onclick="openRegisterPage()">Sign Up</button>
            {% endif %}   
        </div>
    </header>
    <div class="container">
        <header class="info-text-title-me">
            About Me
        </header>
        <p class="info-text-me">
            Hello! I'm Shahar, a dedicated computer science student with a passion for problem-solving and innovation. Welcome to AirFinder, a project I developed as part of my educational journey. My aim was to create something practical and helpful, leveraging my skills to make a difference.
        </p>
        <header class="info-text-title-site">
            About The Website
        </header>
        <p class="info-text-site">
            AirFinder was created to simplify finding the best Airbnb listings. We streamline the process to find top-rated listings at the lowest prices. Our key feature compares your liked listings' prices daily and notifies you of any price drops. Save time and money with AirFinder—happy travels!
        </p>
    </div>
    
    <script type="text/javascript">
        var loginUrl = "{% url 'register' %}";
        var registerUrl = "{% url 'register' %}";  // Assuming you have a named URL for registration
        var searchUrl = "{% url 'search' %}";
    </script> 
    <script src="static/js/index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
</html>