{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.user}} Listings</title>

    <link rel="stylesheet" href="static/css/my_listings.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <nav class="navbar">
        <a href="{%url 'index'%}">AirFinder</a>
        <div class="action">
            <div class="profile" onclick="menuToggle();">
              <img src="/static/img/user.png"/>
            </div>
            <div class="menu">
              <h3>{{request.user}}<br/></h3>
              <ul>
                <li>
                  <img src="/static/img/user.png" /><a href="#">My Listings</a>
                </li>
                <li>
                  <img src="/static/img/log-out.png" /><a href="{%url 'logout'%}">Logout</a>
                </li>
              </ul>
            </div>
          </div>
          <script>
            function menuToggle() {
              const toggleMenu = document.querySelector(".menu");
              toggleMenu.classList.toggle("active");
            }
          </script>
          <form action="{%url 'search'%}">
            <div class="btn-box">
              <button class="btn btn-0" id="search" onclick="openSearchPage()">Search Again</button>
            </div>
          </form>
    </nav>       
    <form action="" class="listings-form" method="GET">
      <div class="container">
        {% for listing in liked_listings %}
          <div class="listing-container">
            <article class="listing-article">
              <img src="{{listing.image}}" alt="" class="listing-img">
                <div class="listing-data">
                    <h2 class="listing-title">{{listing.title}}</h2>
                    <span class="listing-description">Price: {{listing.price}}</span>
                    <div class="listings-description">Rating: {{listing.rating}}</div>
                    <a target="_blank" href="{{listing.link}}" class="listing-link">Visit Website</a>
                    <span class="delete-link" data-listing-id="{{listing.listing_id}}">Delete</span>
                    <img src="static/img/trash-outline.png" alt="trash" class="delete-icon">
                </div>
            </article>
          </div>
        {% empty %}
          <div class="empty-listings-container">
            <p class="empty-listings">No listings found.</p>
          </div>
        {% endfor %}
      </div>  
    </form> 
    <script src="static/js/my_listings.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
